h1{
color:rgb(4, 4, 76);

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color:rgb(3, 45, 45);
   
}
li{
color: rgb(0, 4, 73);


}
h4{
    color: rgb(2, 1, 6);
    
 font-family: 'Times New Roman', Times, serif;
}
img{

 display:block;
 margin: 20px auto;
 border: 0cap;
}
select{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     background-color: burlywood;
 padding: 10px;
 border-radius: 5px;
}


body{
text-align: center;
background-color: rgb(91, 61, 25);
}
